---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { SEO } from "astro-seo";
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<html lang="fr">
  <head>
    <SEO
      title="Tranquility Daily: Cultivating Serenity in Everyday Life"
      description={frontmatter.description}
      openGraph={{
        basic: {
          title: `${frontmatter.title} | Sosthene`,
          type: "Santé,Hygène de vie,Cultiver la sérénité,Réseaux sociaux",
          image: "https://i.ibb.co/yWzjYyW/logo-no-background.png",
        },
      }}
      twitter={{
        creator: "@sosthenemounsambote",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://i.ibb.co/yWzjYyW/logo-no-background.png",
          },
          { name: "twitter:title", content: "Sosthene mounsambote" },
          {
            name: "twitter:description",
            content: "un blog vous permettant de mieux vivre",
          },
        ],
      }}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <link rel="icon" type="image/x-icon" href="../" />
  </head>
  <BaseLayout>
    <section>
      <div class="px-8 py-12 md:px-12 mx-auto lg:pt-24 max-w-7xl lg:px-32">
        <div class="lg:text-center">
          <img
            class="lg:h-72 w-full object-cover object-center"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
          />
          <div class="flex flex-col md:flex-row mt-4 justify-between">
            <p class="text-xs text-zinc-500">
              {frontmatter.pubDate.toString().slice(0, 10)} - Written by: {
                frontmatter.author
              }
            </p>
            <div class="flex gap-3">
              {
                frontmatter.tags.map((tag) => (
                  <span class="inline-flex items-center uppercase    hover:text-blue-500   text-xs font-medium text-black">
                    <a href={`/tags/${tag}`}>{tag}</a>
                  </span>
                ))
              }
            </div>
          </div>
          <h1
            class="text-4xl tracking-tight text-balance mt-12 lg:mt-16 font-medium font-display text-black md:text-8xl"
          >
            {frontmatter.title}
          </h1>
          <p class="max-w-2xl mt-8 mx-auto text-zinc-500">
            <em>{frontmatter.description}</em>
          </p>
        </div>

        <div class="mt-12 max-w-2xl mx-auto">
          <div class="prose-styles">
            <slot />
          </div>
        </div>
      </div>
    </section>
  </BaseLayout>
</html>
